<div class="container my-4">
  <div class="d-flex">
    <div class="form-container">
    <h1>Sign Up</h1>
      <form id="signupForm">
        <div class="form-group">
          <label for="signupUsername" class="mb-1">Username</label>
          <input type="username" class="form-control mb-2" id="signupUsername">
        </div>
        <div class="form-group">
          <label for="signupPassword" class="mb-1">Password</label>
          <input type="password" class="form-control mb-2" id="signupPassword">
        </div>
        <button type="submit" class="btn btn-primary" id="signupBtn">Sign Up!</button>
        <a class="otherForm" href="/login">Login instead</a>
      </form>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>